svg {
    background-color: #a6cee3;
}

.states {
    fill: #1f78b4;
}

.states :hover {
  fill: red;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.city-circle {
    fill: #e31a1c;
}

.city-text {
    fill: #000;
}